@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your main CSS file */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  color: black;
  /* background: var(--background); */
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ---------------- about section  --------------- */

.about-container {
  perspective: 1000px;
}

.about-image {
  transform: rotateY(10deg);
  transition: transform 0.3s ease-in-out;
}

.about-image:hover {
  transform: rotateY(0deg);
}
.card {
  background-color: #fff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

.card:hover {
  background-color: #ffff;
  box-shadow: 0 12px 30px rgba(22, 22, 22, 0.2),
    0 6px 15px rgba(22, 22, 22, 0.1);
  transform: scale(1.02);
}

.group:hover .group-hover\:text-blue-400 {
  background: linear-gradient(
    90deg,
    rgba(173, 216, 230, 1) 0%,
    rgba(135, 206, 235, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* styles.css */
.logo_slider {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.logo_slider .scrolling-images {
  display: flex;
  width: calc(100% * 2);
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.logo_slider img {
  margin: 0 15px;
}

/* ---------contact section------------ */

.bg-greyBackground {
  background-color: #333;
  transition: transform 0.3s, box-shadow 0.3s;
}

.bg-greyBackground:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.bg-iconBackground {
  background-color: #555;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bg-iconBackground:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  background-color: #777;
}
.text-white {
  transition: color 0.3s;
}

.bg-greyBackground:hover .text-white {
  background: linear-gradient(to right, #3b82f6, #2dd4bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* ------footer clip path ------------- */
.clip-diagonal {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  background-color: #333; /* Your desired background color */
  position: relative;
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ------department section scroll bar------ */

/* Add this to your CSS file */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
